@charset "utf-8";
/* CSS Document */
.MultiLineTab {
	/*background-color:#d4fefe;*/
	cursor:pointer;
}

.MLT_Container {
	overflow: hidden;
	height: 30px;
}

.MLT_PlaceHolder {
	width: 1px;
}

.MLT_Tail {
	width: 8px;
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_Base_Line.png);
}

.MLT_Line {
	/*background-color:#d4fefe;*/
}

.MLT_LineHead {
	width: 16px;
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_Base_Line.png);
}

.MLT_LineEnd {
	/*background-color: #d4fefe;*/
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_Base_Line.png);
}

.MLT_Item {
	width: 160px;
}

.MLT_ItemHead {
	width: 8px;
}

.MLT_Prev {
	width: 40px;
	text-align: center;
}

.MLT_Next {
	width: 40px;
	text-align: center;
}

.TabStateNormal {
	display: table-cell;
}

.TabStateActive {
	display: table-cell;
}

.TabStateHide {
	display: none;
}

.MLT_ItemSpacing {
	width: 3px;
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_Base_Line.png);
}

.MLT_ItemNormalLeft {
	width: 5px;
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_normal_Left.png);
}

.MLT_ItemNormalCenter {
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_Normal_center.png);
}

.MLT_ItemNormalRight {
	width: 5px;
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_normal_Right.png);
}

.MLT_ItemActiveLeft {
	width: 5px;
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_Active_Left.png);
}

.MLT_ItemActiveCenter {
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_Active_center.png);
}

.MLT_ItemActiveRight {
	width: 5px;
	height: 30px;
	background-image:url(CtrlTabGray/Tab_Round_Active_Right.png);
}

.MLT_IconPrev {
	width: 30px;
	height: 30px;
	background-image:url(CtrlTabGray/Output_tab_arrow_left.png);
}

.MLT_IconNext {
	width: 30px;
	height: 30px;
	background-image:url(CtrlTabGray/Output_tab_arrow_Right.png);
}

.MLT_Remove {
	width: 15px;
}

.MLT_IconDelete {
	width: 14px;
	height: 15px;
	background-image: url(CtrlTabGray/Output_tab_BTN_cancel.png);
	background-repeat: no-repeat;
	background-position: center;
}

.MLT_ItemContent {
	text-align: center; 
}

.MLT_ItemText {
	font-family: "宋体", "微软雅黑", "Segoe UI";
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
	color: #000000;
	font-weight: bolder;
}

.MLT_ICON_HLS {
	width: 30px;
	height: 22px;
	background-image:url(CtrlTabGray/icon_Output_tab_Apple-HLS.png);
}

.MLT_ICON_FLV {
	width: 30px;
	height: 22px;
	background-image:url(CtrlTabGray/icon_Output_tab_Archive-FLV.png);
}

.MLT_ICON_MP4 {
	width: 30px;
	height: 22px;
	background-image:url(CtrlTabGray/icon_Output_tab_Archive-MP4.png);
}

.MLT_ICON_TS {
	width: 30px;
	height: 22px;
	background-image:url(CtrlTabGray/icon_Output_tab_Archive-TS.png);
}

.MLT_ICON_RTMP_MULTI {
	width: 30px;
	height: 22px;
	background-image:url(CtrlTabGray/icon_Output_tab_flash-mutiple.png);
}

.MLT_ICON_RTMP_SINGLE {
	width: 30px;
	height: 22px;
	background-image:url(CtrlTabGray/icon_Output_tab_flash-single.png);
}

.MLT_ICON_MMS_MULTI {
	width: 30px;
	height: 22px;
	background-image:url(CtrlTabGray/icon_Output_tab_MS-mutiple.png);
}

.MLT_ICON_MMS_SINGLE {
	width: 30px;
	height: 22px;
	background-image:url(CtrlTabGray/icon_Output_tab_MS-single.png);
}

.MLT_ICON_OUTPUT_ENABLED {
	width: 29px;
	height: 20px;
	background-image:url(icons/output_enabled.png);
	background-repeat: no-repeat;
}

.MLT_ICON_OUTPUT_DISABLED {
	width: 29px;
	height: 20px;
	background-image:url(icons/output_disabled.png);
	background-repeat: no-repeat;
}
