@CHARSET "UTF-8";

.TaskHeadText{
	color: #ffffff;
}

.TaskInputs{
	margin-top:10px;
	margin-bottom:10px;		
}
.TaskInputs .TaskInputsHead {
	padding-left:20px;
    height: 40px;
    line-height:40px;
    background-color: #1B84A9;
    border-radius:3px;
}

.TaskInputBody {
	padding-top:4px;padding-bottom:4px;
    background-color: #F3F3F3;
    border-radius:3px;
}

