@charset "utf-8";
/* CSS Document */
.TM_Column {
	width: 300px;
	height: 300px;
	overflow: auto;
}

.TM_ItemActiveCenter {
	height: 21px;
	background-image:url(CtrlPopup/POP-up_select_column.png);
}

.TM_ItemNormalCenter {
	height: 21px;
}

.TM_ItemText {
	font-family: "宋体", "微软雅黑", "Arial";
	font-size: 9pt;
	color: #000000;
}
