#storage_actions {
	height: 36px;
	line-height: 36px;
}

.group_title a {
	color: #1F84CA;
	cursor: pointer;
}

.group_title .storage_name {
	width: 180px;
	margin-right: 10px;
}

.group_title .storage_path {
	max-width: 350px;
}

.group_title .storage_name, .group_title .storage_path {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
