*{
	font-size: 9pt;
	font-style: normal;
}
.switch_content {
	margin:15px 15px 25px 20px;
}

#space_1{
	height:17px;
}

#space_2{
	height:25px;
}

#space_3{
	height:30px;
}

#switch_list_table{
	margin:0;
	border-collapse:collapse;
}

#switch_list_table td{
	padding:0px 0px 0px 0px;
}

td.community{
	width: 100px;
	padding:0px 0px 0px 0px;
}

td.ip{
	width: 100px;
	padding:0px 0px 0px 0px;
}

td.ifindex{
	width: 60px;
	padding:0px 0px 0px 0px;
}

td.deleteBtn{
	padding:0px 10px 0px 0px;
}

td.editBtn{
	padding:0px 10px 0px 0px;
}

a.editBtn {
	width:40px;
	height:40px;
	display: block;
	background: url("../../images/servergroup/edit_n.png") no-repeat scroll 0px 0px;
}

a.editBtn:hover {
	background: url("../../images/servergroup/edit_p.png") no-repeat scroll 0px 0px;
	cursor:pointer;
}

#table_add_switch td {
	padding:0px 10px 0px 0px;
}

.addSwitchFrame input{
	width:100px;
	height:21px;
	line-height:21px;
}

.addSwitchFrame button{
	width:85px;
	height:23px
}

.error{
	color:red;
}
#apply_button{
	width:85px;
	height:23px
}